.edit-form-card {
  background-color: white;
  height: 500px;
  width: 500px;
  margin: 100px auto;
  padding: 20px;
  position: relative;
  border-radius: 2.5px;
  box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.42);
}

