.navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 15%;
    background-color: #f88b34;
    color: #71092f;
}
.wrapper {
    position: absolute;
    top: 15%;
    left:0;
    right: 0;
    bottom: 0;
    color: #71092f;
    background-color: #FFFFFF;
}

.content-form {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 49%;
    overflow: scroll;
    border-right: 5px solid #f88b34;
    color: #71092f;
}

.content-result {
    position: absolute;
    left: 49%;
    top: 0;
    bottom: 0;
    right: 0%;
    color: #71092f;
}

p.result {
    position: absolute;
    overflow: scroll;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    transform: translate(-50%, -50%);
    font-family: Signika, sans-serif;
    padding: 20px;
    border: 5px dashed #f88b34;
    color: #71092f;
    border-radius: 2.5px;
}

p.header-result {
    position: absolute;
    top: 10%;
    left: 50%;
    -ms-transform: translate(-50%, -10%); /* IE 9 */
    -webkit-transform: translate(-50%, -10%); /* Safari */
    transform: translate(-50%, -10%);
    font-family: Signika, sans-serif;
    padding: 10px;
    color: #71092f;
    font-size: 22px;
}

form {
    position: absolute;
    margin: 15%;
    top:0;
    bottom:0;
    color: #71092f;
}

label, input, textarea {
    position: relative;
    float: left;
    clear: all;
    margin-left: auto;
    left: 0;
    width: 100%;
    color: #71092f;
    border-radius: 2.5px;
}

textarea {
  max-height: 60%;
}

h1.head-title {
  color: #71092f;
  position: relative;
  color: white;
  font-family: Signika, sans-serif;
  margin-left: 1%;
  margin-top: 1%;
}
