form {
  letter-spacing: 2.5px;
}

pre {
  background-color: transparent;
  border: none;
  font-family: Futura;
  font-weight: 300;
}

.edit {
  position: relative;
  width: 100%;
  height: 40%;
  h2 {
    text-align: center;
  }
}

.edit-list {
  position: relative;
  margin-left: 7.5%;
  margin-right: 7.5%;
  color: #8C455F;
  margin-bottom: 10%;
}

.cross-icon {
  max-height: 4%;
}

.help-btn {
  position: absolute;
  right: 2.5%;
  height: 80%;
  top: 10%;
  bottom: 10%;
  width: 7.5%;
  color: white;
  font-weight: bold;
  background-color: #8C455F;
  border: 1px solid white;
  border-radius: 2px;
  display: table;
  text-align: center;
  &:hover {
    color: #8C455F;
    background-color: white;
  }
}

.help-btn > h2 {
  display: table-cell;
  vertical-align: middle;
}

.step {
  float: left;
  width: 33%;
  padding: 1%;
  overflow: hidden;
  &-img {
    position: relative;
    height: 80%;
    margin-left: 15%;
    margin-right: 15%;
    diplay: block;
  }
}

.wrapper-helper {
  position: absolute;
  margin-left: 7.5%;
  margin-right: 7.5%;
  padding: 2.5%;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
}


.help {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 99;
  background-color: #8C455F;
  overflow: scroll;
}

.back {
  position: relative;
  float: right;
  margin-top: 2.5%;
  margin-right: 5%;
}

.btn-form {
  background-color: #8C455F;
  color: white;
  font-family: futura;
  font-weight: bold;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 10%;
    background-color: #8C455F;
    color: #71092f;
}
.wrapper {
    position: absolute;
    top: 10%;
    left:0;
    right: 0;
    bottom: 0;
    color: #71092f;
    background-color: #FFFFFF;
}

.content-form {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 45%;
    overflow: scroll;
    color: #71092f;
}

#map {
  position: relative;
  height: 40%;
  margin-top: 2.5%;
  margin-left: 7.5%;
  margin-right: 7.5%;
}

.loc-form {
  position: relative;
  height: 60%;
  width: 100%;
}

.content-result {
    position: absolute;
    left: 55%;
    top: 0;
    bottom: 0;
    right: 0%;
    color: #8C455F;
    overflow: hidden;
}

.code {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-right: 7.5%;
  overflow: hidden;
}

xmp {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  border: 2px dashed #8C455F;
  font-size: 12px;
  overflow: scroll;
}

p.code {
    position: absolute;
    overflow: scroll;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    transform: translate(-50%, -50%);
    font-family: futura;
    padding: 20px;
    border: 5px dashed #f88b34;
    color: #8C455F;
    border-radius: 2.5px;
}

p.header-result {
    position: absolute;
    top: 10%;
    left: 50%;
    -ms-transform: translate(-50%, -10%); /* IE 9 */
    -webkit-transform: translate(-50%, -10%); /* Safari */
    transform: translate(-50%, -10%);
    font-family: futura;
    padding: 10px;
    color: #8C455F;
    font-size: 22px;
}

h3 {
  color: white;
  font-size: 22px;
  margin-bottom: 22px;
  margin-left: 15%;
}

h2 {
  color: #8C455F;
}

form {
    position: relative;
    margin-left: 7.5%;
    margin-right: 7.5%;
    color: #8C455F;
}

label, input, textarea {
    position: relative;
    float: left;
    clear: all;
    margin-left: auto;
    left: 0;
    width: 100%;
    color: #8C455F;
    border-radius: 2.5px;
}

textarea {
  max-height: 60%;
}

h1.head-title {
  color: #8C455F;
  position: relative;
  color: white;
  margin-left: 1%;
  margin-top: 1%;
  font-family: Futura;
  font-weight: 100;
}

.active {
  display: block;
}

.inactive {
  display: none;
}