@import "home";
@import "edit";

@media screen and (max-width: 640px) {
  .content-form {
    position: relative;
    height: auto;
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .content-result {
    position: relative;
    height: auto;
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}