<%= content_for(:title) do %>
  Home
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>

<div class="navbar"><h1 class='head-title'>MAP HELPER</h1></div>
<div class="wrapper">
    <div class="content-form">
        <form action="">
            <label for="">
                lieu
            </label>
            <input type="text"/>
            <label for="">
                auto complete
            </label>
            <input type="text"/>
            <label for="">
                description
            </label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </form>
    </div>
    <div class="content-result">
        <p class="header-result">copie-colle ça dans ton script :</p>
        <p class="result">{ <br>
      url: place.icon,
      size: new google.maps.Size(71, 71),
      origin: new google.maps.Point(0, 0),
      anchor: new google.maps.Point(17, 34),
      scaledSize: new google.maps.Size(35, 35) <br>
    }</p>
    </div>
</div>