
<h2>Copier ce texte dans votre navigateur html</h2>
<div class="wrapper">
  <xmp>
<div style="padding: 20px">
  <style type="text/css">
      html, body, #map-canvas {
          height: 100%;
          margin: 0;
          padding: 0;
      }
  </style>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js">
  </script>
  <script type="text/javascript">
    function initialize() {
      var mapStyle = [{
          stylers: [{
              visibility: "off"
          }]
      }, {
          featureType: "water",
          stylers: [{
              visibility: "on"
          }, {
              color: "#f88b34"
          }]
      }, {
          featureType: "landscape",
          stylers: [{
              visibility: "on"
          }, {
              color: "#71092f"
          }]
      }, {
          featureType: "administrative",
          elementType: "geometry.stroke",
          stylers: [{
              visibility: "on"
          }, {
              color: "#f88b34"
          }, {
              weight: 1
          }]
      }];

      var mapOptions = {
          disableDefaultUI: true,
          center: {
              lat: -25.397,
              lng: 131.644
          },
          zoom: 4

      };
      var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

      map.setOptions({
          styles: mapStyle
      });

      var locations = <%= raw @markers.to_json %>

      for (i = 0; i < locations.length; i++) {
          var marker = new google.maps.Marker({
              position: new google.maps.LatLng(locations[i].lat, locations[i].lng),
              map: map,
          });

          (function(marker, i) {
              // add click event
              google.maps.event.addListener(marker, 'click', function() {
                  infowindow = new google.maps.InfoWindow({
                      content: locations[i].infowindow,
                  });
                  infowindow.open(map, marker);
              });
          })(marker, i);
      };
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
  <div id="map-canvas"></div>

  </xmp>
</div>

<xmp>
<div style="padding: 20px">
  <style type="text/css">
      html, body, #map-canvas {
          height: 100%;
          margin: 0;
          padding: 0;
      }
  </style>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js">
  </script>
  <script type="text/javascript">
    function initialize() {
      var mapStyle = [{
          stylers: [{
              visibility: "off"
          }]
      }, {
          featureType: "water",
          stylers: [{
              visibility: "on"
          }, {
              color: "#f88b34"
          }]
      }, {
          featureType: "landscape",
          stylers: [{
              visibility: "on"
          }, {
              color: "#71092f"
          }]
      }, {
          featureType: "administrative",
          elementType: "geometry.stroke",
          stylers: [{
              visibility: "on"
          }, {
              color: "#f88b34"
          }, {
              weight: 1
          }]
      }];

      var mapOptions = {
          disableDefaultUI: true,
          center: {
              lat: -25.397,
              lng: 131.644
          },
          zoom: 4

      };
      var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

      map.setOptions({
          styles: mapStyle
      });

      var locations = <%= raw @markers.to_json %>

      for (i = 0; i < locations.length; i++) {
          var marker = new google.maps.Marker({
              position: new google.maps.LatLng(locations[i].lat, locations[i].lng),
              map: map,
          });

          (function(marker, i) {
              // add click event
              google.maps.event.addListener(marker, 'click', function() {
                  infowindow = new google.maps.InfoWindow({
                      content: locations[i].infowindow,
                  });
                  infowindow.open(map, marker);
              });
          })(marker, i);
      };
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
  <div id="map-canvas"></div>

  </xmp>
</div>


<!-- LEFT CONTENT BEGINS -->
<div>
  <%#= render 'locations/form' %>
</div>
<!-- LEFT CONTENT ENDS -->

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
    var mapStyle = [
    {
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#197fb3"
            }
        ]
    },
    {
        "featureType": "landscape",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#e3dede"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#156993"
            },
            {
                "weight": 1
            }
        ]
    }
];

      function createSidebarLi(json){
        return ("<li><a>" + json.marker_title + "</a></li>");
      };

      function bindLiToMarker($li, marker){
        $li.on('click', function(){
          handler.getMap().setZoom(14);
          marker.setMap(handler.getMap());
          marker.panTo();
          google.maps.event.trigger(marker.getServiceObject(), 'click');
        })
      };

      function createSidebar(json_array){
        _.each(json_array, function(json){
          var $li = $( createSidebarLi(json) );
          $li.appendTo('#sidebar_container');
          bindLiToMarker($li, json.marker);
        });
      };

      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: {id: 'map'}, provider: {  center: new google.maps.LatLng(-33, -33),  zoom: 4, disableDefaultUI: true, styles: mapStyle }}, function(){
        var json_array = <%= raw @markers.to_json %>;
        var markers = handler.addMarkers(json_array);
        _.each(json_array, function(json, index){
          json.marker = markers[index];
        });

        createSidebar(json_array);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>