<div class="container">
  <div class="row">
    <%= render 'locations/form' %>
  </div>
  <div class="row">
    <h2>Editer une mission</h2>
    <ul class="list-unstyled">
    <% @locations.each do |location| %>
      <li>
        <%= link_to edit_location_path(location) do %>
          <%= location.name %>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</div>


